body{
    margin: 0;
    padding: 0;
}
#carouselExampleControlsNoTouching img{
    margin-top: 0px;
    width: 100%;
    height: 600px;
    
}

#carouselExampleControlsNoTouching button{
    background-color: aqua;
    width: 100px;
    height: 100px;
    margin-top: 200px;
}


.carousel-item img{
    position: relative;
   
}
.carousel-item p,h2,button{
    position: absolute;
    z-index: 1;
    margin-top: 100px;
    
} 
.carousel-item{
    text-align: center;
    background-color: azure;
}


